
@{
    ViewBag.Title = "Index3";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>MarkerClusterer v3 Example</title>
    <style type="text/css">

        body {
            margin: 0;
            padding: 0;
            font-family: Arial;
            font-size: 14px;
        }

        #panel {
            float: left;
            width: 300px;
            height: 550px;
        }

        #map-container {
            margin-left: 300px;
        }

        #map {
            width: 100%;
            height: 550px;
        }

        #markerlist {
            height: 400px;
            margin: 10px 5px 0 10px;
            overflow: auto;
        }

        .title {
            border-bottom: 1px solid #e0ecff;
            overflow: hidden;
            width: 256px;
            cursor: pointer;
            padding: 2px 0;
            display: block;
            color: #000;
            text-decoration: none;
        }

            .title:visited {
                color: #000;
            }

            .title:hover {
                background: #e0ecff;
            }

        #timetaken {
            color: #f00;
        }

        .info {
            width: 200px;
        }

            .info img {
                border: 0;
            }

        .info-body {
            width: 200px;
            height: 200px;
            line-height: 200px;
            margin: 2px 0;
            text-align: center;
            overflow: hidden;
        }

        .info-img {
            height: 220px;
            width: 200px;
        }
    </style>
</head>
<body onload="speedTest.init();">
    <div id="panel">
        <h3>An example of MarkerClusterer v3</h3>
        <div>
            <input type="checkbox" checked="checked" id="usegmm" />
            <span>Use MarkerClusterer</span>
        </div>
        <div>
            Markers:
            <select id="nummarkers">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100" selected="selected">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
            <span>Time used: <span id="timetaken"></span> ms</span>
        </div>
        <strong>Marker List</strong>
        <div id="markerlist">
        </div>
    </div>
    <div id="map-container">
        <div id="map"></div>
    </div>
</body>
</html>
<script src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="~/markerclustererplus/src/data.json"></script>
<script src="~/markerclustererplus/src/markerclusterer.js"></script>

<script>
    $(document).ready(function () {
        debugger;
        //var data99 = [];
        function initMap23() {
            debugger;
            $.ajax({
                url: "/Map/GetStationMapData",
                type: "POST",
                dataType: "json",
                success: function (dataA) {
                    debugger;
                    i = 0;
                    var aarA = [];
                    $.each(dataA, function (i, item) {
                        var x = parseFloat(item.COORDINANT.split(",")[0]);
                        var y = parseFloat(item.COORDINANT.split(",")[1]);
                        i++;

                        var aar = {
                            longitude: y,
                            latitude: x,
                            photo_id: i,
                            photo_url: "http://www.panoramio.com/photo/27932",
                            photo_file_url: "http://mw2.google.com/mw-panoramio/photos/medium/27932.jpg",
                            width: 500,
                            height: 375,
                            upload_date: "25 June 2006",
                            owner_id: 4483,
                            owner_name: "Miguel Coranti",
                            owner_url: "http://www.panoramio.com/user/4483"
                        };

                        aarA.push(aar);

                    })
                    data = {
                        count: 10785236,
                        photos: aarA
                    };


                }
            });
        }
        //initMap99();
        //setTimeout(function () {
        //    debugger;
        //    initMap2(1);
        //}, 5250);
        //function $(element) {
        //    debugger;

        //    return document.getElementById(element);
        //}
        //debugger;
        //$(window).on('load', function () {
        //    debugger;
        //});
        function AA(bb) {
            return document.getElementById(bb);
        }
       
            debugger;
            var speedTest = {};

            speedTest.pics = null;
            speedTest.map = null;
            speedTest.markerClusterer = null;
            speedTest.markers = [];
            speedTest.infoWindow = null;

            speedTest.init = function () {

                var latlng = new google.maps.LatLng(39.91, 116.38);
                var options = {
                    'zoom': 2,
                    'center': latlng,
                    'mapTypeId': google.maps.MapTypeId.ROADMAP
                };
                debugger;
                speedTest.map = new google.maps.Map(AA('map'), options);
                speedTest.pics = data.photos;

                var useGmm = document.getElementById('usegmm');
                google.maps.event.addDomListener(useGmm, 'click', speedTest.change);

                var numMarkers = document.getElementById('nummarkers');
                google.maps.event.addDomListener(numMarkers, 'change', speedTest.change);

                speedTest.infoWindow = new google.maps.InfoWindow();

                speedTest.showMarkers();
            };

            speedTest.showMarkers = function () {
                speedTest.markers = [];

                var type = 1;
                if (AA('usegmm').checked) {
                    type = 0;
                }

                if (speedTest.markerClusterer) {
                    speedTest.markerClusterer.clearMarkers();
                }

                var panel = AA('markerlist');
                panel.innerHTML = '';
                var numMarkers = AA('nummarkers').value;

                for (var i = 0; i < numMarkers; i++) {
                    var titleText = speedTest.pics[i].photo_title;
                    if (titleText === '') {
                        titleText = 'No title';
                    }

                    var item = document.createElement('DIV');
                    var title = document.createElement('A');
                    title.href = '#';
                    title.className = 'title';
                    title.innerHTML = titleText;

                    item.appendChild(title);
                    panel.appendChild(item);


                    var latLng = new google.maps.LatLng(speedTest.pics[i].latitude,
                        speedTest.pics[i].longitude);

                    var imageUrl = 'http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=' +
                        'FFFFFF,008CFF,000000&ext=.png';
                    var markerImage = new google.maps.MarkerImage(imageUrl,
                        new google.maps.Size(24, 32));

                    var marker = new google.maps.Marker({
                        'position': latLng,
                        'icon': markerImage
                    });

                    var fn = speedTest.markerClickFunction(speedTest.pics[i], latLng);
                    google.maps.event.addListener(marker, 'click', fn);
                    google.maps.event.addDomListener(title, 'click', fn);
                    speedTest.markers.push(marker);
                }

                window.setTimeout(speedTest.time, 0);
            };

            speedTest.markerClickFunction = function (pic, latlng) {
                return function (e) {
                    e.cancelBubble = true;
                    e.returnValue = false;
                    if (e.stopPropagation) {
                        e.stopPropagation();
                        e.preventDefault();
                    }
                    var title = pic.photo_title;
                    var url = pic.photo_url;
                    var fileurl = pic.photo_file_url;

                    var infoHtml = '<div class="info"><h3>' + title +
                        '</h3><div class="info-body">' +
                        '<a href="' + url + '" target="_blank"><img src="' +
                        fileurl + '" class="info-img"/></a></div>' +
                        '<a href="http://www.panoramio.com/" target="_blank">' +
                        '<img src="http://maps.google.com/intl/en_ALL/mapfiles/' +
                        'iw_panoramio.png"/></a><br/>' +
                        '<a href="' + pic.owner_url + '" target="_blank">' + pic.owner_name +
                        '</a></div></div>';

                    speedTest.infoWindow.setContent(infoHtml);
                    speedTest.infoWindow.setPosition(latlng);
                    speedTest.infoWindow.open(speedTest.map);
                };
            };

            speedTest.clear = function () {
                $('timetaken').innerHTML = 'cleaning...';
                for (var i = 0, marker; marker = speedTest.markers[i]; i++) {
                    marker.setMap(null);
                }
            };

            speedTest.change = function () {
                speedTest.clear();
                speedTest.showMarkers();
            };

            speedTest.time = function () {
                $('timetaken').innerHTML = 'timing...';
                var start = new Date();
                if (AA('usegmm').checked) {
                    speedTest.markerClusterer = new MarkerClusterer(speedTest.map, speedTest.markers, { imagePath: '/js-marker-clusterer-gh-pages/images/m' });
                } else {
                    for (var i = 0, marker; marker = speedTest.markers[i]; i++) {
                        marker.setMap(speedTest.map);
                    }
                }

                var end = new Date();
                $('timetaken').innerHTML = end - start;
            };

    });
</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl_zXhq0Qz4_hKotMC4H64zNo6KGPlDCY&callback=initMap">
</script>