
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/buttons.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/fixedHeader.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/scroller.bootstrap.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>
