<div class="page-title">
    <div class="title_left">
        <h3>Error</h3>
    </div>
</div>
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Access denied

</div>

